<h2>Lista de Conductores</h2>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Identificación</th>
      <th>Nombres</th>
      <th>Apellidos</th>
      <th>Teléfonos</th>
      <th>Dirección</th>
      <th>Fecha ingreso</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>111222333</td>
      <td>Carlos</td>
      <td>López</td>
      <td>3112233445</td>
      <td>Calle 50 #30-40</td>
      <td>2021-06-15</td>
    </tr>
    <tr>
      <td>444555666</td>
      <td>Ana</td>
      <td>Martínez</td>
      <td>3105566778</td>
      <td>Carrera 12 #10-15</td>
      <td>2020-09-10</td>
    </tr>
  </tbody>
</table>